@using Hl7.Fhir.Model;
@model EditedPatient;
@{
    ViewData["Title"] = $"Edycja pacjetna {Model?.FamilyName ?? "Nieznany" }";
}
<h1>
    Edycja pacjenta @(Model?.FamilyName ?? "nieznany"), @(Model?.Id ?? "brak id"))
</h1>
@if (Model != null)
{
    @using (Html.BeginForm(actionName: "PatientEdited", controllerName: "Edit", method: FormMethod.Post))
    {
        <div class="form-horizontal">
            <div class="form-group">
                @Html.HiddenFor(model => model.Id)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="BirthDate" class="control-label"></label>
                        <input asp-for="BirthDate" class="form-control" type="date"  min="1900-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="GivenName" class="control-label"></label>
                        <input asp-for="GivenName" class="form-control" />
                        <span asp-validation-for="GivenName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FamilyName" class="control-label"></label>
                        <input asp-for="FamilyName" class="form-control" />
                        <span asp-validation-for="FamilyName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Gender" class="control-label"></label>
                        @Html.DropDownListFor(model => model.Gender, Html.GetEnumSelectList<Hl7.Fhir.Model.AdministrativeGender>(), "Wybierz płeć", new { @class = "form-control" })
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label asp-for="Telecom.ContactDetails" class="control-label"></label>
                        <input asp-for="Telecom.ContactDetails" class="form-control" />
                        <span asp-validation-for="Telecom.ContactDetails" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1 col-md-4">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}
else
{
    <p>Nie znaleziono pacjenta!</p>
}
<script>
    $(document).ready(
        () => {
            $("#BirthDate").valueAsDate = new Date()
        }
    )
</script>

@Html.ActionLink("Powrót do pacjentów", "Patient", "Home", new { }, new Dictionary<string, object> { { "class", "btn btn-success" } })
