@model IEnumerable<Hl7.Fhir.Model.Patient>;
@{
    ViewData["Title"] = "Pacjenci";
}
@if (ViewBag.errorMessage != null)
{
    <p class="alert alert-danger">@ViewBag.errorMessage</p>
}
@if (ViewBag.infoMessage != null)
{
    <p class="alert alert-warning">@ViewBag.infoMessage</p>
}

@if (Model != null)
{
    <form style="margin: 20px;" asp-action="Search" asp-controller="Home">
        <label for="patientsSurname">Szukaj</label>
        <div class="form-group row">
            <p class="col-sm-1 col-form-label" style="padding-top: 5px;">Nazwisko</p>
            <div class="col-sm-11">
                <input type="text" name="surname" style="width: 60px; min-width: 200px;" class="form-control" id="patientsSurname" aria-describedby="nameHelp" placeholder="Wpisz nazwisko pacjenta">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Szukaj</button>
        @Html.ActionLink("Wyczyść filtry", "Patient", "Home", new { }, new Dictionary<string, object> { { "class", "btn btn-warning" } })
    </form>
}
@Html.ActionLink("Dodaj pacjenta", "CreatePatient", "Create", new { }, new Dictionary<string, object> { { "class", "btn btn-success" } })

<h1>Lista pacjentów</h1>
<table class="table table-hover">
    <tr>
        <th>Nazwisko pacjenta</th>
        <th>Imię pacjenta</th>
        <th>Dane kontaktowe</th>
        <th>Miasto</th>
        <th>ID</th>
        <th></th>
        <th></th>
    </tr>
    @if (Model == null)
    {
        <tr>
            <td colspan="3" style="text-align:center;"><b style="color: coral;">Brak połączenia z bazą danych</b></td>
        </tr>
    }
    else if (Model.Count() == 0)
    {
        <tr>
            <td colspan="3" style="text-align:center;"><b style="color: coral;">Brak danych</b></td>
        </tr>
    }
    else
    {
        @foreach (var item in Model)
        {
            <tr class="clickable-row" data-href="\Presentation\ViewPatient\@(item.Id)">
                <td>@(item.Name.LastOrDefault()?.Family ?? "brak danych")</td>
                <td>@(item.Name.LastOrDefault()?.Given.Aggregate((x, y) => $"{x} {y}") ?? "brak danych")</td>
                <td>
                    @foreach (var contact in item.Telecom)
                    {
                        @($"{contact.System}: {contact.Value}")<br />
                    }
                </td>
                <td>@(item.Address?.LastOrDefault().City ?? "brak danych")</td>
                <td style="font-size: xx-small; color: darkslategrey;">@item.Id</td>
                <td>
                    @Html.ActionLink("Pokaż", "ViewPatient", "Presentation", new { id = item.Id }, new { @class = "btn btn-success" })
                </td>
                   
                <td>
                    @Html.ActionLink("Usuń", "Delete", "Home", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
        @if (ViewBag.bundle != null)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(ViewBag.bundle["previousPageLink"]))
                    {
                        @Html.ActionLink("Poprzednia strona", "ChangePage", "Home", new { id = ViewBag.bundle["id"], nextPage = ViewBag.bundle["previousPageLink"], goForward = false }, new { @class = "btn btn-success" })
                    }
                </td>
                <td colspan="5"></td>
                <td>
                    @if (!string.IsNullOrEmpty(ViewBag.bundle["nextPageLink"]))
                    {
                        @Html.ActionLink("Kolejna strona", "ChangePage", "Home", new { id = ViewBag.bundle["id"], nextPage = ViewBag.bundle["nextPageLink"], goForward = true }, new { @class = "btn btn-success" })
                    }
                </td>
            </tr>
        }
    }
</table>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<!-- Latest compiled and minified Locales -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>


<script>
    $(function () {
        $("#dialog-message").dialog({
            modal: true,
            buttons: {
                Ok: function () {
                    $(this).dialog("close");
                }
            }
        });
    });

    function deletePatient(name, id) {
        $('#delpatientName').text( name )
        $('#delpatientID').text(id) 

        $("#dialog-message").dialog({
            modal: true,
            buttons: {
                Ok: function () {
                    $(this).dialog("close");
                }
            }
        });
    }
</script>